name: Maven CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: Build with Maven
        run: mvn --batch-mode --fail-at-end --update-snapshots verify

      - name: Publish Test-Report
        if: ${{ always() }}
        uses: scacap/action-surefire-report@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}